@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --brand-black: #212121;
    --brand-blue: #2196F3;
    --dark-blue: #188CE8;
    --dark-gray: #2F303A;
    --light-gray: #757575;
    --light-pink: #ECECEC;
    --white: #FFFFFF;
    --transparent-gray: rgba(255, 255, 255, 0.6);
}


body {
    background-color: var(--white);
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    color: var(--brand-black);
}

section{
    padding: 60px 200px;
}

a{
    text-decoration: none;
    color: var(--brand-black);
}

a:active,
a:focus,
a:hover{
    color: var(--brand-blue);
    outline: none;
}

a:focus{
    text-decoration: underline;
}

button{
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h2{
    margin-bottom: 50px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}





header {
    height: 80px;
    
    padding: 0px 200px;
    
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
    background-color: var(--white);
    border-bottom: 1px solid var(--light-pink);
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

header ul a {
    margin: 25px;
    white-space: nowrap;
}

header > ul > li > a{
    color: var(--light-gray);
}

.studio-logo {
    margin-top: 0;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--brand-blue);
}

header .studio-logo span:last-child {
    color: var(--brand-black);
}

footer .studio-logo span:last-child {
    color: var(--white);
}





.hero-section{
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: var(--dark-gray);
    
    text-transform: uppercase;
}

.hero-section > h1{
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white);
    color: var(--white);
}

.hero-section > button {
    padding: 10px 32px;

    background-color: var(--brand-blue);
    color: var(--white);

    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

.hero-section>button:focus,     
.hero-section>button:hover{
    background: var(--dark-blue);
}


.advantages-section{
    max-width: 1600px;
}

.advantages-section > ul {
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.advantages-section li {
    margin: auto 15px ;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--light-gray);
}

.advantages-section h3 {
    margin: 10px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--brand-black);
}





.our-work-section {
    padding-top: 0;

    text-align: center;
}

.our-work-section > ul {
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.our-work-section li {
    margin: auto 15px;
}

.our-work-section > h2 {
    margin-top: 0;
}

.our-work-section img {
    width: 370px;
    height: 294px;
}







.portfolio-section .cards,
.our-team-section .cards {
    padding: 0;
    /* margin: auto 5%; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    padding-bottom: 24px;

    background: var(--white);

    font-style: normal;
}

.our-team-section {
    background-color: #F5F4FA;
}

.our-team-section .card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-section .card > img{
    width: 270px;
    height: 260px;
}

.our-team-section .card {
    text-align: center;
}

.our-team-section .card-title {
    margin-top: 24px;
    margin-bottom: 12px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-section .card-caption {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--light-gray);
}



.portfolio-cards-filter{
    margin: auto 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.portfolio-cards-filter button{
    padding: 6px 22px;
    margin: 8px;

    background: #F5F4FA;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    white-space: nowrap;
}

.portfolio-cards-filter button:hover,
.portfolio-cards-filter button:active,
.portfolio-cards-filter button:focus {
    background: var(--brand-blue);
    color: var(--white);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section {
    background-color: var(--white);
}

.portfolio-section .card {
    border: 1px solid #EEEEEE;
}

.portfolio-section .card > img {
    width: 370px;
    height: 294px;
}

.portfolio-section .card-title {
    margin: 20px 0px 0px 30px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--brand-black);
}

.portfolio-section .card-caption{
    margin-left: 30px;

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    color: var(--light-gray);
}





footer{
    padding: 60px 200px;

    background: var(--dark-gray);
}

footer>address>ul{
    padding: 0;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

footer>address>ul a {
    color: var(--transparent-gray);
}

footer li:first-of-type>a {
    color: var(--white);
}